.jobs-page-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 10px;
}

.left-container {
  width: 20%;
}

.right-container {
  width: 80%;
}

ul {
  list-style-type: none;
}

.button {
  padding: 10px;
  background-color: blue;
  color: white;
  margin: 5px;
  border-radius: 5px;
  border: 0px;
}
